 /* css calendario */

 .day{
    border-width: 0;
    border-radius: 50px;
    text-align: center;
  }

  .day:hover{
    background-color: rgba(128, 128, 128, 0.425);
  }

  .dayActual{
    background-color: #144372dc;
    border-radius: 50px;
    text-align: center;
    color: white;
  }

  .dayActual:hover{
    background-color: #144372;
    border-radius: 50px;
    text-align: center;
    color: white;
  }